<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search like Baidu</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <div class="logo">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1599737487185&di=8e8a631c5070e11499395b538e9cc54f&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Faadcf356470c9a6717ab6c5ed73476025fd1a1a410da7-kArZxa_fw658" alt="">
        </div>
        <div class="search-area">
            <div class="input-area">
                <input type="text" 
                maxlength="100" 
                v-model="searchWord" 
                :class="{active:searchList.length!==0 && isFocus}"
                @focus="changeFocus(true)"
                @blur="docClick(false)"
                >
                <i class="iconfont">&#xe689;</i>
            </div>
            <span>百度一下</span>
        </div>
        <ul class="search-list" v-if="searchList.length!==0 && isFocus">
            <li v-for="search in searchList">{{ search }}</li>
            
        </ul>
    </div>
    <script src="./jquery.js"></script>
    <script src="./vue.js"></script>
    <script>
        const vm=new Vue({
            el:'#app',
            data:{
                searchWord:'',
                isFocus:false,
                searchList:[],
            },
            watch:{
                searchWord(){
                    if(this.searchWord==='')return;
                    $.ajax({
                        url:'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
                        dataType:'jsonp',
                        data:{
                            wd:this.searchWord,
                            cb:'vm.showRes'
                        }
                    })
                },
            },
            methods:{
                showRes(res){
                    this.searchList=res.s;
                },
                changeFocus(flag){
                    if(!flag)return;
                    this.isFocus=flag;
                },
                docClick(flag){
                    document.onclick=function(e){
                        e.stopPropagation();
                        const tar=e.target;
                        if(!(tar.tagName==='LI' || tar.tagName==='UL' || tar.tagName==='INPUT')){
                            vm.isFocus=flag; 
                        }
                    }
                }
            },
        })
        
    </script>
</body>
</html>