<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDoList</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">toDoList</div>
                <div class="input-area">
                    <input type="text" :value="msg" @input="handleInput($event)">
                    <button @click="addList">添加</button>
                </div>
                
            </div>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num">{{ toDoList.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(doing,index) in toDoList" :key="doing.id">
                    <div>
                        <input type="checkbox" @change="handleChange(index,'doing')">
                        <span>{{ doing.msg }}</span>
                    </div>
                    <button @click="deleteList(index,'doing')">删除</button>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num">{{ completeList.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(done,index) in completeList" :key="done.id">
                    <div>
                        <input type="checkbox" @change="handleChange(index,'done')">
                        <span>{{ done.msg }}</span>
                    </div>
                    <button @click="deleteList(index,'done')">删除</button>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                msg:'',
                toDoList:[],
                completeList:[],
            },
            methods:{
                handleInput(e){
                    let val=e.target.value;
                    this.msg=val;
                },
                addList(){
                    this.toDoList.push({
                        msg:this.msg,
                        id:new Date().getTime(),
                    });
                    this.msg='';
                },
                handleChange(index,type){
                    if(type==='done'){
                        let doing=this.completeList.splice(index,1);
                        this.toDoList.push(...doing);
                    }else if(type==='doing'){
                        let done=this.toDoList.splice(index,1);
                        this.completeList.push(...done);
                    }
                    
                },
                deleteList(index,type){
                    if(type==='doing'){
                        this.toDoList.splice(index,1);
                    }else if(type==='done'){
                        this.completeList.splice(index,1);
                    }
                },
            },
        })
    </script>
</body>
</html>