.date-picker{
    display:inline-block;
}
.picker-input{
    position:relative;
}
.picker-input input{
    height:40px;
    line-height:40px;
    padding-left:30px;
    border:2px solid #c4c7c9;
    border-radius:4px;
    font-size:18px;
    color:#8b7f77;
    outline:none;
    cursor:pointer;
}
.picker-input .input-prefix{
    color:#b1b3b4;
    position:absolute;
    z-index:3;
    left:4px;
    height:100%;
    line-height:40px;
}
.picker-input .input-prefix i{
    font-size:18px;
}
.picker-panel{
    position:absolute;
    margin-top:5px;
    width:322px;
    height:329px;
    border:2px solid #c4c7c9;
    border-radius:4px;
}
.picker-panel .picker-arrow{
    width:0;
    height:0;
    border:6px solid transparent;
    border-bottom-color:#c4c7c9;
    position:absolute;
    top:-14px;
    left:10px;
}
.picker-panel .picker-arrow::after{
    content:'';
    display:block;
    width:0;
    height:0;
    border:6px solid transparent;
    border-bottom-color:#fff;
    position:absolute;
    left:-6px;
    top:-4px;
}
.picker-panel .picker-header{
    height: 40px;
    margin-left:5px;
    margin-right:5px;
    border-bottom:1px solid #c3c5c7;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;
    user-select:none;
    color:#8b7f77;
} 
.picker-panel .picker-header .picker-date{
    width:90px;
    margin-left:50px;
    margin-right:50px;
}
.picker-panel .picker-weeks{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:30px;
    margin-top:5px;
    color:#8b7f77;
    user-select:none;
}
.picker-panel .picker-days{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}
.picker-panel .picker-days div{
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    margin:5px 8px;
    color:#8b7f77;
    cursor:pointer;
    user-select:none;
}
.picker-panel .picker-days div:hover{
    color:#4599e7;
}
.picker-panel .picker-days div.is-today{
    color:#4599e7;
    font-weight:600;
}
.picker-panel .picker-days div.is-select{
    background-color:#4599e7;
    color:#fff;
    border-radius:50%;
}
.picker-panel .picker-days div.is-other{
    color:#b1b2b3;
}