html,body{
    height:100%;
}
#app{
    height:100%;
    overflow-y:scroll;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:15px;
    background-color:#fff;
    position:fixed;
    z-index:30;
    top:0;
    left:0;
    right:0;
}
.header .logo{
    margin-left:18px;
}
.header .search-input{
    width:132px;
    height:24px;
    display: flex;
    align-items: center;
    color:#999;
    background-color: #f4f4f4;
    border-radius:12px;
    margin-left:5px;
}
.header .search-input svg{
    margin-left:10px;
}
.header .search-input span{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.header .avater svg{
    border-radius:50%;

}
.header .download{
    width:78px;
    height:23px;
    line-height:23px;
    text-align:center;
    color:#fff;
    background-color:#fb7299;
    font-size:14px;
    padding-left:5px;
    padding-right:5px;
    border-radius:4px;
    margin-right:12px;
}
.nav-box{
    font-size:14px;
    position:fixed;
    z-index:10;
    top:54px;
    left:0;
    right:0;
    color:#666;
    background-color:#fff;
}
.nav-box .nav-list{
    width:85%;
    padding-left:24px;
    white-space:nowrap;
    overflow-x:scroll;
}
.nav-box .nav-list::-webkit-scrollbar{
    display: none;
}
.nav-box .nav{
    display:inline-block;
    height:30px;
    line-height:30px;
    margin-right:36px;
}
.nav-box .nav.active{
    border-bottom:2px solid #fb7299;
}
.nav-box .down{
    position:absolute;
    right:10px;
    top:4px;
} 
.hide-nav-box{
    position:fixed;
    z-index:20;
    top:54px;
    left:0;
    right:0;
    color:#666;
    background-color:#fff;
    font-size:14px;
    transition:top .3s;
}
.hide-nav-box.hide{
    top:-110px;
}
.hide-nav-box .nav-list{
    padding-top:10px;
    padding-left:14px;
    padding-bottom:30px;
}

.hide-nav-box .nav{
    display:inline-block;
    width:38px;
    height:30px;
    text-align:center;
    line-height:30px;
    margin-left:14px;
    margin-right:14px;
}
.hide-nav-box .nav.active{
    border-bottom:2px solid #fb7299;
}
.hide-nav-box .nav.big{
    width:46px;
    margin-left:10px;
    margin-right:10px;
}
.hide-nav-box .up{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.banner-box{
    position:relative;
    top:87px;
    left:50%;
    transform:translateX(-50%);
    width:350px;
    height:110px;
    overflow:hidden;
    
}
.banner-box .banner-list{
    position:absolute;
    left:0;
    top:0;
    width:calc(350px * 4);
    transition:left .5s;
}
.banner-box .banner{
    float:left;
    width:350px;
    height: 110px;
}
.banner-box .banner img{
    width:100%;
    height:100%;
}
.banner-box .index-list{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    z-index:10px;
    display:flex;
    align-items: center;
    height:10px;
    padding-left:3px;
    padding-right:3px;
    background-color:rgba(0,0,0,.5);
    border-radius:5px;

}
.banner-box .index{
    width:5px;
    height:5px;
    border-radius:50%;
    margin-left:3px;
    margin-right:3px;
    background-color:#fff;
}
.banner-box .index.active{
    background-color:#f00;
}

.video-box{
    padding-top:95px;
}
.video-box .video-list{
    padding-left:5px;
    padding-right:5px;
}
.video-box .video-list::after{
    content:'';
    display:block;
    clear:both;
}
.video-box .video{
    float:left;
    width:50%;
}
.video-box .poster{
    position:relative;
    margin-left:6px;
    margin-right:6px;
    border-radius:6px;
    overflow:hidden;
}
.video-box .poster img{
    width:100%;
    height:100%;
}
.video-box .poster svg{
    width:14px;
    height:14px;
    fill:#fff;
}
.video-box .poster .info{
    position:absolute;
    bottom:0;
    display: flex;
    color:#fff;
    height:30px;
    width:100%;
    padding-left:5px;
    background-image:linear-gradient(rgba(33,33,33,0),rgba(33,33,33,.5));
}
.video-box .poster .info div{
    margin-right:5px;
    padding-top:7px;
}
.video-box .title{
    margin-left:6px;
    margin-right:6px;
    margin-top:5px;
    margin-bottom:10px;
    height:38px;
    line-height: 20px;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}

.footer{
    margin-top:40px;
}
.footer p{
    margin-bottom:20px;
    color:#999;
    text-align:center;
    font-size:14px;
}